#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 }
 body{
  overflow-y: scroll;
 }
.topic {
  
  text-align: left;
  margin-left: 2px;
  font-size: x-small;
}
.navbar{

  width:100%;
}
.navbar-container{
 background-color: rgba(255, 255, 255, 0.88);
  width: 100%;
}
.navbar-row{
  width: 100vw;
  
}
.navbar-buttons-row button{
  width: fit-content;
flex: 1;
min-width: 50px;
max-width: fit-content;
font-size: clamp(1rem, 1.5vw, 1.5rem);
padding:1px;
padding-left: 2px;
padding-right: 2px;
}
.comments {
  font-size: small;

}

.article {
  font-size: medium;
  text-align: justify;
  
}

.thumbs{
  width:60px;
}
.thumbs-up{
  color:green;
  font-weight: bold;
  text-shadow: 1px 1px grey;
  padding-right:3px ;
}
.thumbs-down{
  color:red;
  font-weight: bold;
  text-shadow: 1px 1px grey;
  padding-right:3px ;
}
